extends layout 

block content
    h1 #{titulo}

    br
    form(method='POST' action='')
        div.form-group
            label(for='nome') Gênero: 
            input#nome.form-control(type='text',placeholder='Fantasy,Poetry etc.'
            name='nome' value=(undefined===gen ? '' : gen.nome))
            br
            button.btn.btn-primary(type='submit') #{botao}

    if errors 
     ul 
      for error in errors 
       li!= error.msg